@charset "UTF-8";

/*variables*/
* {
  box-sizing: border-box;
  font-size: 62.5%;
  color: white;
  font-family: "Cinzel", serif;
}

body {
  background-color: black;
  width: 100%;
  margin: 0 auto;
}

table {
  font-size: 5rem;
  min-width: 20rem;
  max-width: 50rem;
  text-align: center;
  margin: 0 auto;
}

header {
  border-bottom: 1px #2a2a2a solid;
}

a {
  text-decoration: none;
}

p {
  font-size: 2rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

#gridHeader {
  display: grid;
  grid-template-areas: "smedia" "logo";
  grid-template-rows: 6rem 1fr;
}

#gmap_canvas {
  width: 400px 400px;
}

/*Iconos de redes sociales*/
.socialMedia {
  display: flex;
  grid-area: smedia;
}

.socialMedia__socialMediaIcon {
  padding: 1rem;
}

/*Logo principal*/
.imgLogo {
  text-align: center;
}

.imgLogo img {
  width: 30rem;
  margin-bottom: 4rem;
}

/*Foto index restaurant*/
.widePhoto {
  width: 100%;
  height: 50rem;
  background-image: url(../img/mainphoto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 60%;
  grid-area: foto;
}

/*nav bar*/
.barraNavegacion {
  width: 100%;
  background-color: rgb(34, 34, 34);
  top: 0px;
  position: sticky;
  padding: 1rem;
  min-width: 30%;
  grid-area: nav;
}

.barraNavegacion p {
  margin: 0 auto;
}

.barraNavegacion p:hover {
  color: #c9e265;
}

.barraNavegacion:last-child {
  border-right: none;
}

.barraNavegacion a {
  padding: 1rem 4rem;
}

/*se establece titulo genérico para usar en cada page*/
.tituloH1 {
  margin: 3rem auto;
  text-align: center;
}

.tituloH1 :first-child {
  padding-top: 5rem;
}

/*comentarios de personas sobre el restaurant*/
.contenedorPersonas {
  display: grid;
  margin: 5rem 10rem;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  column-gap: 1.5rem;
}

@media (min-width:800px) {
  .contenedorPersonas {
    display: grid;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1.5rem;
  }
}

.contenedorPersonas__opinion {
  text-align: center;
  align-items: center;
  border: 0.5rem solid;
  padding: 2rem;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #c9e265, rgba(0, 0, 0, 0)) 1 100%;
}

.contenedorPersonas__opinion p {
  font-size: 1.7rem;
  padding-top: 1rem;
  inline-size: 350px;
  margin: 0 auto;
}

.contenedorPersonas__opinion img {
  width: 9rem;
}

/*boton que redirecciona a nuestro-menu.html*/
.botonMenu {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  align-content: center;
}

.botonMenu button {
  width: 35rem;
  padding: 1rem;
  height: 10rem;
  font-size: 3rem;
  align-content: center;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(to bottom right, #c9e265, #8bb74d, #c9e265);
  border: 0;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
}

/*footer genérico*/
.footer {
  align-items: center;
  width: 100%;
  margin-top: 10rem;
  border-top: 1px #2a2a2a solid;
  padding: 2rem;
  grid-template-areas: "recerved smedia";
}

.footer img {
  width: 10rem;
}

.footer p {
  margin: 0 0;
  font-size: 1.5rem;
}

/*"todos los derechos reservados"*/
.contenedorReserved {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
}

.contenedorReserved__reserved {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: recerved;
}

/*icono del link que redirecciona a whatsapp con position fixed*/
.whatsapp {
  position: fixed;
  right: 2rem;
  top: 2rem;
  z-index: 1;
}

.whatsapp img {
  width: 7rem;
}

/*menu del restaurant con imagenes y descripción*/
.contenedorMenu {
  display: grid;
  margin: 0 5rem;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

.contenedorMenu h2 {
  padding: 2rem 0 4rem;
  text-align: center;
}

.contenedorMenu img {
  display: block;
  width: 70%;
  height: 70%;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 10%;
}

@media screen and (max-width: 768px) {
  .contenedorMenu {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*contenedor con imagenes de momentos en el restaurant*/
.contenedorGaleria {
  display: grid;
  margin: 0 5rem;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
}

.contenedorGaleria img {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .contenedorGaleria {
    grid-template-columns: 1fr;
  }
}

/*link a la cuenta de instagram del restaurant*/
.instagramLogo {
  padding: 2rem 0;
}

.instagramLogo img {
  width: 7rem;
  margin-left: 4rem;
  padding-right: 1.6rem;
}

.instagramLogo * {
  display: inline-block;
}

/*videos de youtube del restaurant*/
.youtubeMedia {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  border: 0.5rem solid;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #c9e265, rgba(0, 0, 0, 0)) 1 100%;
}

.youtubeMedia iframe {
  padding: 3rem;
  width: 600px;
  height: 400px;
}

@media screen and (max-width: 768px) {
  .youtubeMedia iframe {
    padding: 3rem;
    width: 300px;
    height: 250px;
  }
}

/*seccion con información sobre el restaurant*/
.seccionNosotros {
  max-width: 80%;
  padding: 0 3rem;
  margin: 10rem auto;
  border: 0.5rem solid;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #c9e265, rgba(0, 0, 0, 0)) 1 100%;
}

.seccionNosotros p {
  text-align: justify;
}

.seccionNosotros h2 {
  margin-bottom: 5rem;
}

.seccionNosotros div {
  margin-bottom: 3rem;
}

/*alinear elementos segun se requiera*/
.alignItems {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 5rem;
  text-align: justify;
  align-items: center;
}

.alignItems * {
  width: 50rem;
}

/*parametros para formulario de contacto*/
.formulario {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  max-width: 80%;
  margin: 0 auto;
  border: 0.5rem solid;
  border-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #c9e265, rgba(0, 0, 0, 0)) 1 100%;
}

.formulario * {
  font-size: 2rem;
}

.formulario select {
  width: 20rem;
  color: black;
  margin: 0 auto;
  width: 90%;
}

.formulario option {
  color: black;
}

.formulario label {
  width: 90%;
  text-align: start;
}

.formulario input,
.formulario textarea {
  width: 90%;
  margin: 0 auto;
  color: black;
}

.formulario textarea {
  min-height: 20rem;
  font-size: 2rem;
}

.formulario li {
  margin-top: 2rem;
}

.formulario ul {
  padding: 0;
  list-style-type: none;
}

/*boton del formulario*/
.botonForm {
  max-width: 20rem;
  margin: 0 auto;
  padding-top: 2rem;
}

/*# sourceMappingURL=styles.css.map */